html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, img, b, center, dl, dd, dt, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline;}
table {border-collapse: collapse;	border-spacing: 0;}
body {line-height: 1; font-size: 12px;}
ol, ul {list-style: none;}
:focus {outline: 0;}
.clr {overflow: hidden;}
.clear {visibility: hidden; clear: both; width:0 ; height: 0;}
.hide {display: none;}
.ptr {cursor: pointer; }

#wrap {font-family: Helvetica; -webkit-border-radius: 5px; border: 1px solid #333; padding: 3px; width:390px; 
background-image: -webkit-gradient(linear, left top, left bottom, from(#222), to(#000)); margin: 0; position: relative;}

/* MENU */

#toolbar .close {float: right; background: url('img/close.png') no-repeat 0 0; width: 16px; height: 16px; cursor: pointer; margin: 2px;}
#toolbar .minimize {float: right; background: url('img/minimize.png') no-repeat 0 0; width: 16px; height: 16px; cursor: pointer; margin: 2px;}
#toolbar .shorten {float: right; background: url('img/shorten.png') no-repeat 0 0; width: 16px; height: 16px; cursor: pointer; margin: 2px;}
#toolbar .btn:hover {-webkit-transform: scale(1.3);}

ul.tabs {list-style:none;	margin: 0 !important; padding:0;	height:20px;}
ul.tabs li {float:left;	text-indent:0;	padding:0; margin:0 2px !important;	list-style-image:none !important;}
ul.tabs a {
	display:block; width: 80px; height: 20px; line-height:20px; padding:0px; margin:0px;
	background: #bbb; color:#666;
	font-size:11px;	text-align:center; text-decoration:none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
	-webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px;
}
ul.tabs a:active {outline:none;}
ul.tabs a.current {color: #222; background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));}
.progress {display: none; float: right; margin: 6px;}

.wrap {border:1px solid #333; border-top: none; border-bottom: none;  overflow: hidden;}
.search {background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));}
.results {background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff), color-stop(.5,#bbb));}
.results .logo {width: 100%; height: 100%; background: url(img/results.png) no-repeat center;}

/* AUDIO SEARCH */
.audio.wrap {border-top: 1px solid #777;}
.audio .play-info {height: 20px; border-bottom: 1px solid #888; overflow: hidden;
background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#ddd), color-stop(.5,#fff)); color: #333; padding: 0 5px;}
.audio .play-info .track {width: 385px; line-height: 20px; white-space: nowrap; font-size: 11px; text-align: center; overflow: hidden;}
.audio .play-info .track.long {overflow-x:-webkit-marquee; -webkit-marquee: auto 2px infinite 30 scroll;}

.audio .search {font-size: 12px; padding: 4px; border-bottom: 1px solid #888;}
.audio .searchbox {float: left; margin-left: 5px;}
.audio .query {padding:3px 5px; width:211px; border: 1px solid #76A7BE; border-right: none; float: left;}
.audio .cur-cat {background: white url(img/ar-down.png) no-repeat right center; border: 1px solid #76A7BE; border-left: none; float:left; height:21px; line-height:21px; padding: 0 20px 0 6px; margin-top: 2px; width:55px; text-align: right; cursor: pointer; color: #333;}
.audio .searchbox .button {cursor: pointer; position: relative; top: 5px; margin-left: 5px;}

.audio .search .categories {border:1px solid #76A7BE; left:223px; position:absolute; top:100px; background: white; border-top: none; text-align: right; display: none; z-index: 950;}
.audio .search .categories a {display: block; color: #555; padding: 4px 20px 4px 7px; cursor: pointer; text-decoration: none;}
.audio .search .categories a:hover {text-decoration: underline;}

.audio .radio-top {border:1px solid #888; position:absolute; width: 300px; right:10; top: 108px; background: white; border-top: none; text-align: left; display: none; z-index: 940; background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));}
.audio .radio-top table {width: 100%;}
.audio .radio-top table td {font-size: 11px;}
.audio .radio-top .flags td {text-align: center; border-bottom: 1px solid #bbb; padding: 5px; background: #fffeee;}
.audio .radio-top table td a {display: block; color: #555; padding: 4px 7px; cursor: pointer; text-decoration: none;}
.audio .radio-top table td a:hover {text-decoration: underline; background: #fcffec; border-top: 1px solid #fae29d; border-bottom: 1px solid #fae29d;}

.audio .search .live {position: absolute; margin-top: 24px; left: 13px; border: 1px solid #76A7BE; border-top: none; background: white; display: none; padding-top: 3px; z-index: 945;}
.audio .search .live div {white-space: nowrap; overflow: hidden; padding: 5px; cursor: pointer; }
.audio .search .live div:hover {text-decoration: underline; background: #fcffec; border-top: 1px solid #fae29d; border-bottom: 1px solid #fae29d;}

.audio .setup {overflow: hidden; display: none; background: white; padding: 5px 2px; border-bottom: 1px solid #888; position: absolute; right: 4px; border-left:1px solid #AAAAAA; z-index: 900; background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));}
.audio .setup td {font-size: 11px; padding: 1px 4px;}
.audio .setup label {margin: 3px;}
.audio .setup td input {margin: 3px; vertical-align: text-bottom;}


.audio .results {height: 475px; overflow: auto;}
.audio .row {border-top:1px solid #FFFFFF; border-bottom:1px solid #AAAAAA; cursor:pointer; overflow:hidden; padding: 0 4px; font-size: 11.5px; line-height: 24px; background-image:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));  -webkit-transition: padding 0.4s linear;}
.audio .row:hover {background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#ccc)); border-top: 1px solid #eee;}
.audio .row.active {border-top: 1px solid #777; border-bottom: 1px solid #aaa; color:#EAF4B9; background-image: -webkit-gradient(linear, 0% 0%, 0% 43%, from(#777), to(#333)); font-weight: bold;  line-height: 26px;}

.audio .row .track {float:left; width:330px;  text-align: left; overflow: hidden; white-space: nowrap;}
.audio .row .track.long {overflow-x:-webkit-marquee; -webkit-marquee: forwards 300px 1 1 alternate;}
.audio .row:hover .track.long {overflow-x:-webkit-marquee; -webkit-marquee: auto 4px 1 30 alternate;}
.audio .row .info {float: right; width: 30px; text-align:right; font-size: 11px;}

.audio .row.fifty {border-bottom: 2px solid #777;}

.audio .el {width: 117px; float: left; margin: 3px; text-align: center; cursor: pointer; overflow: hidden;}

.audio .similar {width: 115px; height: 140px; float: left; margin: 4px; text-align: center; cursor: pointer; overflow: hidden; font-size: 11px;}
.audio .similar .image {width: 115px; height: 115px; overflow: hidden;}
.audio .similar .image.vert {-webkit-background-size: 115px auto;}
.audio .similar .image.horz {-webkit-background-size: auto 115px;}

.audio .recent {height: 24px; margin: 0; text-align: center; cursor: pointer; overflow: hidden;font-size: 13px; line-height: 24px; background-image:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd)); border-top: 1px solid #fff; border-bottom: 1px solid #ccc;}
.audio .label, .audio .artist {line-height: 17px;}

.audio .bigtitle {text-align: center; padding: 5px; border-bottom:1px solid #888; font-size: 16px; font-weight: bold; background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd)); color: #333; } 
.audio .smalltitle {text-align: center; padding: 5px; border-bottom:1px solid #888; font-size: 14px; font-weight: bold;
background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd)); color: #333;}

.audio .results .queue {background-image: -webkit-gradient(linear, left top, left bottom, from(#f6fafe), to(#b9d9f7)) !important; color: #111 !important; border-top: 1px solid #fff !important; border-bottom: 1px solid #aaa !important;}
.audio .downbg {background: url(img/progress-bg.gif) repeat-x 0 0 !important; color: #222 !important; border-top: 1px solid #fff !important; border-bottom: 1px solid #aaa !important;}

/* VIDEO SEARCH */
.video.wrap {background: #dfe8f8;}
.video .search {font-size: 12px; padding: 5px; border-bottom: 1px solid #888;}

.video .searchbox {float: left;  margin-left: 5px;}
.video .query {padding:3px 5px; width:220px; border: 1px solid #76A7BE; border-right: none; float: left;}
.video .cur-cat {background: white url(img/ar-down.png) no-repeat right center; border: 1px solid #76A7BE; border-left: none; float:left; height:21px; line-height:21px; padding: 0 20px 0 6px; margin-top: 2px; width:70px; text-align: right; cursor: pointer; color: #333;}
.video .searchbox .button {cursor: pointer; position: relative; top: 5px; margin-left: 3px;}

.video .search .categories {border:1px solid #76A7BE; left:247px; position:absolute; top: 101px; background: white; border-top: none; text-align: right; display: none; z-index: 950;}
.video .search .categories a {display: block; color: #555; padding: 4px 20px 4px 7px; cursor: pointer; text-decoration: none;}
.video .search .categories a:hover {text-decoration: underline;}

.video .search .live {position: absolute; margin-top: 24px; left: 14px; border: 1px solid #76A7BE; border-top: none; background: white; display: none; padding-top: 3px; z-index: 945;}
.video .search .live div {white-space: nowrap; overflow: hidden; padding: 5px; cursor: pointer; }
.video .search .live div:hover {text-decoration: underline; background: #fcffec; border-top: 1px solid #fae29d; border-bottom: 1px solid #fae29d;}

.video .setup {overflow: hidden; display: none; background: white; padding: 5px 2px; border-bottom: 1px solid #888; position: absolute; right: 4px; border-left:1px solid #AAAAAA; z-index: 900; background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));}
.video .setup td {font-size: 11px; padding: 1px 4px;}
.video .setup label {margin: 3px;}
.video .setup td input {margin: 3px; vertical-align: text-bottom;}

.video .results { height:470px; margin:0; overflow:auto;}
.video .el {width: 102px; float: left; position: relative; height:100px; margin:3px 10px; overflow: hidden; line-height: 106%;}
.video .el img {width: 100px; cursor: pointer; border: 1px solid #444;}
.video .info {font-size: 10px;}
.video .info b {display: block;}
.video .el em {background: #000000; color:#FFFFFF; font-size:10px; padding:2px; position:absolute; right:0; top:61px;} 

.video .results .moar {font-size: 13px; padding: 3px 10px; margin: 5px 0;}

/* SETTINGS PANE */
.settings.wrap {border-bottom: 1px solid #333; background: #F5F7D7;}
.settings .download {border:1px solid #BBBBBB; height:140px; padding:10px; margin: 10px; background: #FFFFFF;}
.settings h3 {margin: 10px 0 5px;}
.settings .help {background: #FFFFFF; border:1px solid #BBBBBB; font-size:12px; line-height:150%; margin: 10px; padding:10px;}
.settings .help a {color: #53A2C1; text-decoration: none;}
.settings .soc-icons img {margin-right: 15px;}

/* jTooltip */
#tooltip.default{border:1px solid white; background: rgba(0,0,0,0.8); color: #f0f0f0; font-size: 11px; width:auto; max-width:180px; min-width:80px; padding:5px; margin-top:2px; line-height: 140%; overflow: hidden;}

.tooltip {display:none; padding: 5px; color:#fff; z-index: 999; padding-bottom: 7px;}
.tooltip img {max-height: 150px; max-width: 130px; border: 3px solid #333;}